a{
    text-decoration: none;
    color: white;
    margin-top: 15px;

}

.Mainnav{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: black;
    
    & :hover{
        color: red;
    }
}

.redchange{
    color: red;
}