.Homescreen{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/backgroundstart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.btnstart{
    font-size: 60px;

    margin: 50px;


}

.hoverprop{
    color: white;
    & :hover{
        color: rgb(255, 241, 43);
        -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;
    }

}