.Homescreen{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/backgroundstart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Homescreen__startbtn{
    position: absolute;
    width: 240px;
    left: 41%;
    bottom: 30px;

}

.btnstart{
    font-size: 60px;
    & :hover{
        color: red;
    }
}