*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body, html {
    margin: 0px;
    font-family: 'Allerta Stencil', sans-serif;
    height: 100vh;
  }


  p{
    font-size: 22px;
    margin: 0px;
    margin-bottom: 10px;
  }
  

  


@import 'App/App';
@import 'Home/Home';
@import 'Basic/Basic';
@import 'Header/Header';
@import 'Accessories/Accessories';
@import 'Preview/Preview';
@import 'Performance/Performance';
@import 'Galery/Galery';