@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0px;
  font-family: 'Allerta Stencil', sans-serif;
  height: 100vh;
}

p {
  font-size: 22px;
  margin: 0px;
  margin-bottom: 10px;
}

.Homescreen {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/backgroundstart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btnstart {
  font-size: 60px;
  margin: 50px;
}

.hoverprop {
  color: white;
}

.hoverprop :hover {
  color: #fff12b;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/backgroundapp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 180px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  color: white;
}

.item h3 {
  margin-top: 0px;
}

.item__color {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
}

.itempos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.itempos :hover {
  border-color: red;
  -webkit-transition: border-color 500ms linear;
  transition: border-color 500ms linear;
}

.blue {
  background-color: blue;
  border: solid 6px white;
}

.gold {
  background-color: gold;
  border: solid 6px white;
}

.plate {
  background-color: #8b8b8b;
  border: solid 6px white;
}

.inputName {
  height: 30px;
  padding-left: 5px;
  background-color: black;
  color: white;
  border: 0;
  border-bottom: solid 3px red;
}

.inputName .text:focus {
  outline: 0px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.Mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
  background-color: black;
  width: 100%;
}

.Mainnav :hover {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: red;
}

.redchange {
  color: red;
}

.item__img {
  width: 90px;
  height: 90px;
  background-color: white;
  cursor: pointer;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 8px;
  border-color: white;
}

.item__img img {
  width: 72%;
}

.itemposacc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemposacc :hover {
  border-color: red;
  -webkit-transition: border-color 500ms linear;
  transition: border-color 500ms linear;
}

.itemposacc__sitght {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemposacc__sitght :hover {
  border-color: red;
  -webkit-transition: border-color 500ms linear;
  transition: border-color 500ms linear;
}

.handlelast {
  width: 55%;
}

.preview {
  width: 1550px;
  height: 600px;
  position: relative;
  margin: auto;
}

.preview_armbody {
  top: 35%;
  right: 27%;
  z-index: 1;
  position: absolute;
}

.preview_butt {
  position: absolute;
  right: 7.5%;
  top: 44.5%;
}

.preview_mag {
  position: absolute;
  right: 40.8%;
  top: 52.5%;
}

.preview_handle {
  position: absolute;
  left: 35.5%;
  top: 36.5%;
}

.preview_barrel {
  position: absolute;
  left: 16%;
  top: 34.8%;
  z-index: -1;
}

.preview_sight2 {
  position: absolute;
  left: 53.3%;
  top: 24.8%;
  z-index: 2;
}

.preview_sight3 {
  position: absolute;
  left: 53.3%;
  top: 20.8%;
  z-index: 2;
}

.preview_butt2 {
  position: absolute;
  right: 10.5%;
  top: 44.5%;
  z-index: 2;
}

.preview_silencer {
  position: absolute;
  left: 5%;
  top: 42.6%;
  z-index: -1;
}

.preview_silencer2 {
  position: absolute;
  left: 2.6%;
  top: 39.6%;
  z-index: -1;
}

.namegun {
  position: absolute;
  color: white;
  font-size: 50px;
  left: 30px;
  bottom: 10px;
}

.finishbtn {
  position: absolute;
  font-size: 50px;
  right: 30px;
  bottom: 10px;
  color: #c9ca18;
}

.handlelast {
  width: 55%;
}

.itemselect {
  border-color: red;
}

.armcreate {
  width: 500px;
  height: 220px;
  background-color: black;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 20px 0px;
  position: relative;
}

.armcreate p {
  margin: 5px 0px;
}

.contentsArms {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  z-index: 5;
}

.armcreate__prev {
  width: 100%;
  height: 190px;
  position: relative;
  cursor: pointer;
}

.preview_armbodyGalery {
  width: 30%;
  top: 25%;
  right: 27%;
  z-index: 1;
  position: absolute;
}

.preview_buttGalery {
  width: 22%;
  position: absolute;
  right: 7.5%;
  top: 34.5%;
}

.preview_magGalery {
  width: 10%;
  position: absolute;
  right: 40.8%;
  top: 42.5%;
}

.preview_handleGalery {
  width: 13%;
  position: absolute;
  left: 35.5%;
  top: 26.5%;
  z-index: 2;
}

.preview_barrelGalery {
  width: 21.5%;
  position: absolute;
  left: 16%;
  top: 24.8%;
}

.preview_sight2Galery {
  width: 9%;
  position: absolute;
  left: 53.3%;
  top: 14.8%;
  z-index: 2;
}

.preview_sight3Galery {
  width: 10%;
  position: absolute;
  left: 53.3%;
  top: 10.8%;
  z-index: 4;
}

.preview_butt2Galery {
  width: 20%;
  position: absolute;
  right: 10.5%;
  top: 34.5%;
  z-index: 2;
}

.preview_silencerGalery {
  width: 12%;
  position: absolute;
  left: 5%;
  top: 32%;
}

.preview_silencer2Galery {
  width: 12%;
  position: absolute;
  left: 5.6%;
  top: 30.6%;
}

.deleteall {
  cursor: pointer;
}

.deleteall :hover {
  color: yellow;
}

.btnDelete {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */