* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Homescreen {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/backgroundstart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Homescreen__startbtn {
  width: 280px;
  height: 100px;
  margin-bottom: 40px;
  font-size: 50px;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/backgroundapp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  height: 180px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  color: white;
}

.item h3 {
  margin-top: 0px;
}

.item__color {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.itempos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.red {
  background-color: red;
  border: solid 3px white;
}

.blue {
  background-color: blue;
  border: solid 3px white;
}

.gold {
  background-color: gold;
  border: solid 3px white;
}

.yellow {
  background-color: yellow;
  border: solid 3px white;
}

.plate {
  background-color: #8b8b8b;
  border: solid 3px white;
}

a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.Mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
  background-color: black;
}

.Mainnav :hover {
  color: red;
}

.redchange {
  color: red;
}

.item__img {
  width: 110px;
  height: 80px;
  background-color: white;
  cursor: pointer;
}

.itemposacc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemposacc__sitght {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preview {
  width: 1550px;
  height: 600px;
  position: relative;
  margin: auto;
}

.preview_armbody {
  top: 35%;
  right: 22%;
  z-index: 1;
  position: absolute;
}

.preview_butt {
  position: absolute;
  right: 2.5%;
  top: 44.5%;
}

.preview_mag {
  position: absolute;
  right: 35.8%;
  top: 52.5%;
}

.preview_handle {
  position: absolute;
  left: 40.5%;
  top: 36.5%;
}

.preview_barrel {
  position: absolute;
  left: 21%;
  top: 34.8%;
  z-index: -1;
}

.preview_sight {
  position: absolute;
  left: 58.3%;
  top: 24.8%;
  z-index: 2;
}

.preview_butt2 {
  position: absolute;
  right: 5.5%;
  top: 44.5%;
  z-index: 2;
}

.preview_silencer {
  position: absolute;
  left: 10%;
  top: 42.6%;
  z-index: -1;
}

.preview_silencer2 {
  position: absolute;
  left: 7.6%;
  top: 39.6%;
  z-index: -1;
}

.namegun {
  position: absolute;
  color: white;
  font-size: 50px;
  left: 30px;
  bottom: 10px;
}

.barrelsize {
  width: 170px;
}
/*# sourceMappingURL=main.css.map */